<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#">Departures</a>

  <ul class="navbar-nav ml-md-auto">
    <button class="btn btn-outline-success" id='btn-run'>Run!</button>
  </ul>
</nav>
